.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
  text-align: center;
}
.todoinputclass {
  width: 200px;
  height: 30px;
}
.todo-list {
  background: #cccc00;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  margin-top: 5%;
  margin-left: 30%;
}
.logOutbutton {
  width: 70px;
  height: 30px;
  margin-left: 185px;
}
.loginButton {
  height: 30px;
  width: 100px;
}
.completed {
  background: #00ff00;
}
.loginInputEmailtext {
  height: 25px;
  margin-top: 50px;
  width: 300px;
}
.loginInputpasstext {
  height: 25px;
  width: 300px;
}
.login_div{
  text-align: center;
  margin-top: 15%;
  background: #ff0066;
  height: 250px;
  max-width: 500px;
  margin-left: 37%;
}
.header_div {
  background: #ffc266;
  margin-top: 5%;
  margin-left: 30%;
  max-width: 500px;
  height: 80px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}